[submodule "hy220/2022s"]
	path = hy220/2022s
	url = https://github.com/papaef/hy220_2022s.git
[submodule "hy425/2021f"]
	path = hy425/2021f
	url = https://github.com/papaef/hy425_2021f.git
[submodule "hy523/2022s"]
	path = hy523/2022s
	url = https://github.com/papaef/hy523_2022s.git
[submodule "hy425/2022f"]
	path = hy425/2022f
	url = https://github.com/papaef/hy425_2022f.git
[submodule "hy220/2023s"]
	path = hy220/2023s
	url = https://github.com/papaef/hy220_2023s.git
[submodule "hy425/2023f"]
	path = hy425/2023f
	url = https://github.com/papaef/hy425_2023f.git
[submodule "hy220/2024s"]
	path = hy220/2024s
	url = https://github.com/papaef/hy220_2024s.git
[submodule "hy425/2024f"]
	path = hy425/2024f
	url = https://github.com/papaef/hy425_2024f.git
[submodule "hy220/2025s"]
	path = hy220/2025s
	url = https://github.com/papaef/hy220_2025s.git
[submodule "hy523/2025s"]
	path = hy523/2025s
	url = https://github.com/papaef/hy523_2025s.git
[submodule "hy425/2025f"]
	path = hy425/2025f
	url = https://github.com/papaef/hy425_2025f.git
